---
import { SITE_TITLE } from '../consts';
import HeaderLink from './HeaderLink.astro';
---

<header>
	<nav>
		<a href="/" class="site-title">
			<span class="logo-icon">₀</span>
			{SITE_TITLE}
		</a>
		<div class="internal-links">
			<HeaderLink href="/">Start</HeaderLink>
			<HeaderLink href="/blog">Artikel</HeaderLink>
			<HeaderLink href="/about">Über mich</HeaderLink>
		</div>
	</nav>
</header>
